$bgc-sidebar: #091336;
$color-accent: #002CFB;
$color-accent-light: #005FF8;
$color-btn-hover: #0024CB;
$color-elements-yellow: #FFD500;
$text-white: #FFF;
$text-gray: rgba(255, 255, 255, 0.6);
$nav-item-active-bcg: rgba(216, 228, 251, 0.32);
